
.productcont{
 
    padding-bottom:20px;
    padding-top: 60px;
    align-content: center;
    padding-left: 40px;
    width: 94%;
}
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
.tabhead1,.tabhead2{
    width: 200px;
    text-align: center;
    font-family: 'Unna', serif;
    border-right: 1px solid rgba(128, 128, 128, 0.568);
   
       
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rubik:wght@300&display=swap');
tbody tr td {
    text-align: center;
    color: black;
    border-bottom: 2px solid rgb(179, 179, 179);
    background-color: rgba(0, 200, 255, 0.144);
    font-family: 'Rubik', sans-serif;
}

.tdata{
    height: 40px;
}

tr:first-child {
    width: 300px;
    height: 40px;
    
}

.pgseek{
    width: fit-content;
    margin-left: 43.7%;
    padding-top: 40px;
    text-align: center;
}


.butn2{
    margin-top: 5px;
    width: 60px;
    height: 20px;
    border-radius:8px;
    border-width:1px;
    background-color: white;
    border-color:rgb(71, 167, 245);
    color: black;
}
.butn2:hover{
    background-color: rgb(81, 81, 255);
    color: white;
 
    
}
.protable{
    width: 100%;
    justify-content: center;
    
}